<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Inclut la configuration de base de Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Configuration du niveau de log -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.boot" level="WARN"/>

    <!-- Configuration pour les logs sur la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Envoi des logs dans un fichier -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/customers-service.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Racine du logger qui gère l'affichage sur console et dans le fichier -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Configuration de JMX pour la gestion des niveaux de log -->
    <jmxConfigurator/>

</configuration>
